{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 56.8213428,
    "longitude": 9.0020303,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Hjem",
    "time_zone": "Europe/Copenhagen",
    "external_url": null,
    "internal_url": null,
    "currency": "DKK",
    "country": "DK",
    "language": "da",
    "radius": 100
  }
}